<ion-header>
  <ion-toolbar>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item >
          <ion-label  position="fixed">Name:</ion-label>
          <ion-input [(ngModel)]="nombre" value="{{nombre}}"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label  position="fixed">About Me:</ion-label>
          <ion-input [(ngModel)]="boutme" type="text" value="{{boutme}}"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-button (click)="updateProfile()">Update</ion-button>
  </ion-grid>    
</ion-content>
