<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <ion-item>
      <ion-searchbar [(ngModel)]="searchBox" (ionChange)="searchCourses()" showCancelButton="always"></ion-searchbar>
        <ion-label>Subject</ion-label>
        <ion-select (ionChange)="searchCourses()" placeholder="Subject" [(ngModel)]="subjects">
          <ion-select-option value="All">All</ion-select-option>
          <ion-select-option value="Math">Math</ion-select-option>
          <ion-select-option value="Physics">Physics</ion-select-option>
          <ion-select-option value="Biology">Biology</ion-select-option>
          <ion-select-option value="Computer Science">Computer Science</ion-select-option>
          <ion-select-option value="Law">Law</ion-select-option>
          <ion-select-option value="Psicology">Psicology</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>
  <h1> Community Courses </h1>
  <ion-list>
    <ion-card *ngFor="let item of searched, let i = index">
      <ion-card-title> {{item.Title}} </ion-card-title>
      <ion-card-content> Description :  {{item.Description}} </ion-card-content>
      <ion-card-content> Teacher Name : {{item.TeacherName}} </ion-card-content>
      <ion-card-content> Subject : {{item.Subject}} </ion-card-content>
      <ion-card-content> Creation Date : {{item.CreationDate}} </ion-card-content>
      <ion-card-content> Days : {{item.Days}} </ion-card-content>
      <ion-button color="light" (click)="enroll2Course(item)">Enroll</ion-button>
      
    </ion-card>
  </ion-list>
</ion-content>
